<div style="padding:1% 50%">
    <h1>Home</h1>
    <h2>
        <a href="/secret">Secret</a><br />
        <a href="/reg">Reg</a><br />
        <a href="/login">LogIn</a><br />
        <a href="/logOut">LogOut</a><br />
    </h2>
</div>